:root { /* déclaration des variables de couleur */
    --text-color-main: black;
    --text-color-secondary: white;
    --accent-color-main: #662383;
    --accent-color-secondary: #3f2158;
    --background-color-main: white;
    --background-color-secondary: darkgray;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

.content, .title {
    background-image: url(bg.png);
}

h2{
    font-size: 1.5em;
    display: inline;
}

header {
    display: flex;
    flex-direction: row;
}

header {
    height: 400px;
    overflow: hidden;
}

header .diapo {
    height: 100%;
}

.diapo {
    background-color: var(--background-color-secondary);
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: auto;
}

.diapo .photo {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.diapo .logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5em;
}

.content-container {
    display: flex;
    flex-direction: column;
}

.activity-container {
    display: flex;
    flex-direction: row;
}


header > *, .activity-container > *, .activity hr {
    max-width: 65%;
}

hr {
    border: 0;
    border-top: 1px dashed #8c8b8b;
} 
/* hr:after { 
    content: '\002702';
    position: relative;
    top: -12px;
    left: 40px;
    color: #8c8b8b;
    font-size: 18px;
} */

.activity {
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
}

.activity .p-container {
    border-radius: 0.4em;
    display: flex;
}

.activity .p-container h4 {
    text-align: right;
}

.activity .p-container:nth-child(4n) {
    flex-direction: row-reverse;
}

.activity .p-container:nth-child(4n) h4 {
    text-align: inherit;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

header img {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: auto;
}

.title {
    padding: 1em;
    padding-left: 3em;
    background: var(--accent-color-main);
    color: var(--text-color-secondary);
}

header p {
    padding-left: 1em;
}

.activity-container:nth-child(2n){
    flex-direction: row-reverse;
}

.category-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.25em;
    padding: 0.25em;
    padding-left: 1em;
    color: var(--text-color-secondary) ;
    background-color: var(--accent-color-secondary);
    background: radial-gradient(circle at 100% 100%, var(--accent-color-main), var(--accent-color-secondary)) no-repeat;
}

.category-title h2 {
    font-variant: normal;
}

.category-title .logo {
    box-sizing: border-box;
    position: relative;
}

.logo img {
    width: 3.5em;
}

.p-container p {
    display: inline;
}

.illustration {
    padding: 2em;
    padding-bottom: 0;
    padding-top: 0;
    margin: auto;
}

.video-frame {
    max-width: 200px;
}
/* Responsive Design */
@media (max-width: 1000px) {
    header {
        height: 150px;
    }
    header > .title {
        width: 75%;
    }
    .activity-container {
        flex-direction: column;
    }
    .category:nth-child(2n) .content-container {
        flex-direction: inherit;
    }
    .activity-container > * {
        width: inherit;
        max-width: inherit;
    }
}

@media (max-width: 500px) {
    .activity .p-container, .activity .p-container:nth-child(4n) {
        flex-direction: column;
    }
    .activity .p-container:nth-child(4n) h4, .activity .p-container h4 {
        text-align: center;
    }
}